$color-background: #282a36;
$color-footer-mobile-1: lighten($color-background, 2%);
$color-footer-mobile-2: lighten($color-background, 10%);
$color-background-code: lighten($color-background, 2%);
$color-border: #6272a4;
$color-meta: #6272a4;
$color-meta-code: #6272a4;
$color-link: #ff79c6;
$color-text: #f8f8f2;
$color-accent-3: #cccccc;
$color-accent-2: #eeeeee;
$color-accent-1: #ff79c6;
$color-quote: #ccffb6;